{{page-title "Ex1"}}

<div class="card">
  <div class="card-header bg-primary text-light">
    Ex1 : Note application
  </div>
  <div class="card-body">
    <Textarea class="form-control mb-3" rows="4" @value={{this.content}}/>
    <div class="alert alert-info"> Il vous reste {{this.size}} caractères à saisir</div>
    <div class="alert alert-info"></div>
  </div>
</div>

<button class= "btn btn-primary" {{action "save"}}>Enregistrer</button>
<button class= "btn btn-primary" {{action "clear"}}>Effacer</button>
{{outlet}}
