{{page-title "Index"}}

  <h1>Coucou</h1>
  <Input type="text" @value={{model.name}}/>
  <Input type="password"  @value={{model.password}}/>
  <button {{action 'connexion' this.login this.password}}>Connexion</button>

{{outlet}}