{{page-title "Index"}}
<h1>Bonjour et bienvenue</h1>
<form {{action "login" @model on="submit"}}>
  <Input type="email" @value={{@model.email}} placeholder="Votre email"/>
  <Input type="password" @value={{@model.password}} placeholder="Votre mot de passe"/>
  <button type="submit" {{action "login" model.name model.password}}>Se connecter</button>
</form>
{{outlet}}