{{page-title "Section"}}
<h1>Store</h1>
<h3>Gestion des sections</h3>
<button {{action "addSection"}}>Nouvelle section...</button>
<button {{action "addProduit"}}>Nouvelle produit...</button>

<h3>Sections</h3>
{{#each @model as |section|}}
  <h4>{{section.name}}</h4>
  <button {{action "DeleteSection" sec}}>Supprimer... </button>

{{/each}}
{{outlet}}